<section class="kdl-section" id="design-principles">
  <h2>Design Principles</h2>
  <ol>
    <li>Maintainability</li>
    <li>Flexibility</li>
    <li>Cognitive simplicity and Learnability</li>
    <li>Ease of de/serialization</li>
    <li>Ease of implementation</li>
  </ol>

  <p>
    These are the guiding principles behind the design of KDL, in order of
    importance. These principles will hopefully be useful in tie-breaking and
    otherwise directing specific decisions when it comes down to it. They are
    intentionally vague when it comes to specifics, but more concrete
    definitions for each one will be settled on as the project matures.
  </p>
</section>
